body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

/*.star-rating {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* Affiche les étoiles de gauche à droite /
}*/

.star-rating input[type="radio"] {
    display: none;
    /* Cache les boutons radio */
}

.star-rating label {
    cursor: pointer;
    color: #ddd;
    /* Couleur des étoiles non sélectionnées */
}

.star-rating input[type="radio"]:checked ~ label {
    color: #f5a623;
    /* Couleur des étoiles sélectionnées */
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5a623;
    /* Change la couleur des étoiles au survol */
}
